<h1>hloa aamigo</h1>

<!--  -->
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/6be8c095e7.js" crossorigin="anonymous"></script>
</head>

<body>

</body>

</html>

<body>

  <div class="container">
    <main class="main">
      <section>
        <h1 class="titulo1">Bienvenido a mi Página Web</h1>
        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum,
            placeat excepturi sapiente saepe rerum et deserunt, eveniet, amet
            corporis animi minus aliquid officiis. Rem deserunt ab, quaerat
            dignissimos tempora quam.
          </p>
          <p id="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos,
            harum rerum accusamus cupiditate necessitatibus quam dolores dolor
            non, sint nam illo voluptatibus, saepe tempora pariatur eaque id!
            Ratione, optio ut.
          </p>

        </article>
        <article>
          <h2>Otra información</h2>
          <!-- <img src="/img/fondo_2.jpg" alt="" width="100px" height="100px" />-->
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus cum
            consequuntur consectetur minima mollitia, aperiam aut, sit
            consequatur a corporis debitis nostrum blanditiis quibusdam
            <b><i>expedita molestiae impedit necessitatibus et rerum?</i></b>
          </p>
        </article>
        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum,
            placeat excepturi sapiente saepe rerum et deserunt, eveniet, amet
            corporis animi minus aliquid officiis. Rem deserunt ab, quaerat
            dignissimos tempora quam.
          </p>
          <p id="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos,
            harum rerum accusamus cupiditate necessitatibus quam dolores dolor
            non, sint nam illo voluptatibus, saepe tempora pariatur eaque id!
            Ratione, optio ut.
          </p>

        </article>
        <article>
          <h2>Otra información</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus cum
            consequuntur consectetur minima mollitia, aperiam aut, sit
            consequatur a corporis debitis nostrum blanditiis quibusdam
            <b><i>expedita molestiae impedit necessitatibus et rerum?</i></b>
          </p>
        </article>
        <article class="foot-redes">
          <a href="https://facebook.com" class="boton-facebook">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="https://twiter.com" class="boton-facebook">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a href="https://instagram.com" class="boton-instagram">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="https://instagram.com" class="boton-linkedin">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </article>
      </section>
    </main>
    <aside class="aside">
      <div class="container_aside">
        <div class="div-aside-imagen">
          <figure>
            <img class="imagen">
          </figure>
        </div>
        <div class="div-aside-imagen">
          <figure>
            <img class="imagen">
          </figure>
        </div>
        <div class="div-aside-imagen">
          <figure>
            <img class="imagen">
          </figure>
        </div>
      </div>
    </aside>
  </div>
