<div class="container">

  @if (users.length == 0) {
  <div class="alert alert-warning">No hay registros en el sistema!</div>
  } @else {

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div class="pb-4 bg-white dark:bg-gray-900">
      <label for="table-search" class="sr-only">Search</label>
      <div class="relative mt-1">
        <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </div>
        <input type="text" id="table-search"
          class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Search for items">
      </div>
      <div>
        <button class="btn btn-primary my-3" [routerLink]="['/users/create']">Crear Usuario</button>
      </div>
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Id
          </th>
          <th scope="col" class="px-6 py-3">
            Nombre
          </th>
          <th scope="col" class="px-6 py-3">
            Apellido
          </th>
          <th scope="col" class="px-6 py-3">
            Email
          </th>
          <th scope="col" class="px-6 py-3">
            Username
          </th>
          <th scope="col" class="px-6 py-3">
            Delete
          </th>
          <th scope="col" class="px-6 py-3">
            Update
          </th>
        </tr>
      </thead>
      <tbody>
        @for (user of users; track $index) {

        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <td class="w-4 p-4">
            <div class="flex items-center">
              <input id="checkbox-table-search-1" type="checkbox"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="checkbox-table-search-1" class="sr-only">{{user.id}}</label>
            </div>
          </td>
          <td class="px-6 py-4">
            {{user.name}}
          </td>
          <td class="px-6 py-4">
            {{user.lastName}}
          </td>
          <td class="px-6 py-4">
            {{user.correoElectronico}}
          </td>
          <td class="px-6 py-4">
            {{user.username}}
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="onRemoveUser(user.id)">
              remove
            </button>
          </td>
          <td>
            <button class="btn btn-info btn-sm" [routerLink]="['/users/edit', user.id]">
              update
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <paginator [paginator]="paginator" [url]="'/users/page'" />
  </div>
  }
</div>
